h1{
    font-size:32px;
}
h2{
    font-size: 24px;
}
p{
    font-size: 12px;
    
}

body{
    
   margin: 0px;
     background: #fff;
    font-family: sans-serif;
}

.background{
    width:100%;
}
/*header*/

.logo_img{
    width: 250px;
    height: 40px;
    /*for setting margin*/
    margin: 15px;
    
}

.header_section{
    /*width of header section is 100%*/
    width:100%;
    
    background-color: rgb(25,30,62);
    /*constant height of header section*/
    height: 70px;
}
.content{
    width: 1100px;
    margin: 0 auto;
}




.resource{
    /*changing the position of whole resource div which contain icon*/
    float: right;
    
   }

/* for making right border of 4th div*/
.box:nth-child(4){
    border-right: 2px solid rgb(47,52,82);
    
}
/* > this sign is a immedieate child selector which select its immediate children*/
.box>a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size:12px;
    font-weight: 200;
    line-height: 0;

}
.box i{
    font-size: 18px;
    color: rgb(109,131,170);
}
.resource ul{
    list-style-type: none;

}
.resource ul li{
    float: left;
    padding:0 20px;
    margin:0;
    text-align: center;
    height: 40px;
    border-left: 2px solid rgb(47,52,82);
    
}

/* HEADER SECTION */

.about{
    height: 60px;
    width: 100%;
    border-bottom: 5px solid aqua;
    background-color: white;
  
}

.about a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(24, 57, 110);
}
.content>ul {
   height: 40px;
    list-style-type: none;
    /*padding from top and bottom in ul*/
    padding: 15px 0px 0px 15px;
     
    margin: 0;
}
.content>ul>li{
    

    width: 130px; 
   float: left;
    padding: 0 0 10px;
    margin: 0;
    line-height: 1;
}
.about ul:after{
    content: "";
    display: block;
    clear: both;
}
.about_p{
    
    margin: 6px 10px 6px 0px;
    font-size: 10px;
    color: rgb(194,198,209);
}
.about li:hover{

    border-bottom: 5px solid red;
}

/*image slider*/

.image{
    width:100%;
    
}
.body-up{
    position: relative;
}
.upcoming-event{
    width: 400px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right:20;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;

}
.right-event{
    float:right;
}
.right-event>p{
        margin: 20px;
}
.calender> .material-icons{
    font-size: 30px;
    margin: 10px 0;
    color:rgb(24,57,110);
}
.left-event{
    float: left;
}
.time1{
    font-size: 10px;
    margin: 5px 15px 10px  ;
    float: left;
}
.date-time .material-icons{
    
    font-size: 10px;
    color: rgb(137,151,164);
    padding-right: 5px;
}
.upcoming-event h2{
    margin:20px 0px 0 20px;
    color: rgb(24,57,110);
    font-weight: 200;
}
.date-time{
    margin-left: 5px;
    color:rgb(137,151,164);

}
/*BODY

SECTION
*/




.details{
    
    width: 100%;
    height: auto;
    background-color: rgb(243,244,246);
  overflow: hidden;
    padding: 90px 0 30px ;
   
}


.text_main{
        padding-left: 10px;
        width:500px;
        float: left;

    
}
.text_main>h1{
    color: rgb(24,57,110);
        width:70%;
      margin: 0 0 25px 0;
    font-weight: 500;
    font-size: 32px;
    
}
.horizontal-line{
    height:0; 
  border:0; 
  border-top: 1px solid rgb(206, 210, 221); 
    width: 80px;
    margin: 0;

}
.text_main>p{
        width:100%;
    margin:25px 0 0 0;
    font-size: 12px;
    color: rgb(100, 117, 135);
     
}




.event{
   
   
    padding-right: 10px;
    
    float: right;
    /*Height of div is 100px so we have 150 px more in bottom direction so i gave margin 75 px from top and bottom*/
    
}

.box_body{
    
    width:100px;
    height: 120px;
    float: left;
    background-color: white;
   margin-left: 10px;
    
    border-radius: 5px;
    
}


.box_body>p{
    
    text-align: center;
    margin:9px 5px 20px 5px;
    color: rgb(24,57,110);
    
}

.same{
    
    font-size: 12px;
    
}

.number{
    
        font-size: 30px;

}
.line{
    width:100%;
    height: 1px;
    background-color: rgb(221,228,244);
    opacity: 0.4;
    position: relative;
    top: 60px;
    
}

.all-button{
    margin:25px 0px;
    
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(237,20,91);
    color: white;
}
.course-button{
    float: right;
}
/*low body*/

.Last_news{
    padding: 0 10px;
    overflow: hidden;
}
.left-content{
    margin-top: 30px;
    float:left;
}

.Low-body{
    background-color: rgb(25,30,62);
    width: 100%;
}

.heading{

    width:700px;
    height: auto;
    color: white;
    overflow: hidden;
   margin: 0 0 20px -10px;


}
.heading>p{
    float: right;
    text-decoration: underline;
    font-size:12px;
    cursor: pointer;
    
}
.heading>h1{
    
    font-size: 32px;
    font-weight: 500;
    float: left;
    margin: 11px;

}
.heading>img{
    height: 40px;
    width: 40px;
    padding: 0px;    
    float: left;
    margin: 5px 0px;
}
.date-box{
    width: 60px;
    height:80px;
    border:2px solid white;
    text-align: center;
    float: left;
    margin: 10px 10px 10px 0;
}
    .time-p{
    font-size: 12px;
    
}

.date-box>h1{
    font-weight: 100;
    font-size: 30px;
    margin: 10px 0 0 0;
    color: white;
}
.date-box>p{
    font-weight: 100;
    font-size: 16px;
    color: white;
    margin: 10px 0 0 0;
}
.time-p{
    font-size: 12px;
    color: rgb(122, 128, 164);
}
.time-p>span{
    
    color: rgb(237,20,91);
}
.read-more{
    text-decoration: none;
    float: left;
    margin: 10px 0;
    color: rgb(122, 123,144);
    font-size: 13px
}
.circle{
    float: right;
    margin: 0 0 0 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 100%;
}
.circle>span{
    color: white;
    font-weight: 700;
}
.lowbody_box{
    clear: both;
    height: auto;
    overflow: hidden;
    float: left;
}
.lowbody_box1{
    width: 280px;

    float: left;       
    margin-right: 20px; 
    
}




.lowbody_box1>h2{
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    color: white;
    
}
.lowbody_box1>p{
    color: white;
    width:100%;
    text-align: justify;
    font-size: 12px;
}

.box3{
        padding-right: 0px;
        width:300px;
background-color: white;
float:right;
    position: relative;
}

.video-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 160px;
}
.play-btn{
    position: absolute;
    height: 50px;
    margin: 10px;
    top: 90px;
    left: 230;

}
.video{
    position: absolute;
    top: 0;
}
.video>h2{
    margin: 10px;
    width: 200px;
    font-weight: 100;
    font-size: 18px;
    position: absolute;
    color: white;
    top:100;
}

.box3 p , .box3 a{
    margin: 20px 10px;
}
.box4>p{
    font-size: 12px;
    color: rgb(100, 117, 135);
}

.box4>.circle{
    
    border: 2px solid rgb(122, 123,144);
    
}

.box4>.circle>span{
    color: rgb(122, 123,144);

}

/*footer section*/

.foot{
    width:100%;
    height: auto;
   
    text-align: center;
    background-color: rgb(243,244,246);
    padding-bottom: 10px;

    
}

.courses>h1,.courses>p{
    margin: 0 0 10px 0;
    padding-top: 0px;
}
.courses>h1{
    padding-top:50px;
    font-size: 40px;
    font-weight: 400;
    color: rgb(24,57,110);
}
.courses>p{
    margin-bottom: 60px;
    font-size: 18px;
    color: rgb(186,192,204);
}
.search>.text,.search>select{
    width: 250px;
    height: 50px;
    margin-right:15px;
    color: rgb(137,151,164);
    padding: 0px 10px;
    font-size:11px;
    border: 1px solid rgb(226,226,226);
    
}
.search-button{
    padding: 10px 30px;
}
.last>p{
    font-size: 14px;
    color: rgb(186,192,204);
    margin: 0;
}


