

/*----------------------header-------------------------------*/

.logo_img{
    width: 250px;
    height: 40px;
    /*for setting margin*/
    
}
.title{
    width: 365px;
    float: left;

}
.title .company-name{
    border-color: rgb(47,52,82);
}
.title .logo{
    width: 50px;
    float: left;
    
}
.title h1{
    line-height: 1.2;
    font-weight: 800;
}

.header_section{
    /*width of header section is 100%*/
    
    padding: 15px 0;
    background-color: rgb(25,30,62);
    /*constant height of header section*/
    height: 85px;
}




.left-header{
    /*changing the position of whole left-header div which contain icon*/
    float: right;
    
   }

/* for making right border of 4th div*/
.left-header ul li:nth-child(4){
    border-right: 2px solid rgb(47,52,82);
    
}
/* > this sign is a immedieate child selector which select its immediate children*/
.left-header ul li>a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size:12px;
    font-weight: 200;

}
.left-header ul li i{
    font-size: 18px;
    color: rgb(109,131,170);
}
.left-header ul{
    list-style-type: none;

}
.left-header ul li{
    float: left;
    padding:0 20px;
    text-align: center;
    border-left: 2px solid rgb(47,52,82);
    
}
/*.left-header ul li a:hover{
   
    
    color: darkblue;
    background-color: white;
    
    
}*/

.left-header ul li span{
    font-size:10px;
    display: block;
    margin-top: 5px;
}

/* -----------------------------NAV HEADER SECTION-------------------- */
.nav-list{
background-color: white;
 height:60px; 
     border-bottom: 5px solid aqua;
    padding: 10px 0;
}

.nav-list nav a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(24, 57, 110);
}
.nav-list nav>ul>li{
    
    float: left;
    padding-right: 50px;

}

.nav-list nav ul li span{
    display: block;
    margin: 6px 0px;
    font-size: 10px;
    color: rgb(194,198,209);
}
.nav-list nav li:hover{

    border-bottom: 5px solid red;
}

/*----------------------image slider----------------------------------*/
.image-slider{
  position: relative;
}
.image-slider .img-wrapper img
{
    width: 100%;
}

.upcoming-event{
    width: 430px;
    height: 100px;
    position: absolute;
    bottom:0;
    right: 85;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
     color:rgb(24,57,110);
    padding: 20px;

}

.calender{
    float: right;
}
.calender .material-icons{
    font-size: 30px;
    
}

.event-schedule{
    font-size: 11px;
    float: left;
    margin-top: 10px;
    color: rgb(137,151,164);
}
.event-schedule .material-icons{
    
    font-size: 11px;
    padding-right: 5px;
}

.upcoming-event h2{
   line-height: 1;
    font-size: 22px;
    color: rgb(24,57,110);
   }
.event-schedule span{
    margin-right: 10px;
}


/*-------------------------Education-Buieseness-------------------------------------*/


.education-buieseness{
    
    
    background-color: rgb(243,244,246);
    margin: 50px 0;
   
}


.education-buieseness .default-wrapper{
        width:450px    
}
.education-buieseness .default-wrapper h2{
    color: rgb(24,57,110);
      margin-bottom: 25px;
    font-weight: 500;
    
}
.horizontal-line{
    height:0; 
  border:0; 
  border-top: 1px solid rgb(206, 210, 221); 
    width: 80px;
    margin: 0;

}
.education-buieseness .default-wrapper p{
    margin:25px 0 0 0;
    color: rgb(100, 117, 135);
     
}




.event{
   width: 450px;
   overflow: hidden;
    padding-right: 10px;
    
    
}

.event-box{
    
    width:100px;
    height: 120px;
    float: left;
    background-color: white;
   margin-left: 10px;
    position: relative;
    border-radius: 5px;
    
}


.event-box>span{
    display: block;
    text-align: center;
    font-size: 12px;
    margin:10px 0;
    color: rgb(24,57,110);    
}

.event-box>span:nth-child(3){
    font-size:30px;    
}

.line{
    width:100%;
    height: 1px;
    background-color: rgb(221,228,244);
    opacity: 0.4;
    position: absolute;
    top: 60;
    
}

.all-button{
    margin:25px 0px;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgb(237,20,91);
    color: white;
}
/*--------------------------------------last-news--------------------------*/

.news-time span{
    
  font-size: 12px; 
    color: rgb(122, 128, 164);
}
.news-time span:nth-child(2){
    color: rgb(237,20,91);
}


.last-news{
    background-color: rgb(25,30,62);
    padding: 30px 0;
}
.last-news-wrap{
    width: 330px;
    margin-right: 20px;
}

.last-news .section-heading{

    width:700px;
    height: auto;
    color: white;
    overflow: hidden;
   margin-bottom: 20px;

}
.last-news .section-heading>span{
    float: right;
    text-decoration: underline;
    font-size:12px;
    cursor: pointer;
    margin-top:20px;
    
}
.last-news .section-heading>h2{
    
    font-size: 32px;
    font-weight: 500;
    float: left;

}
.last-news .section-heading h2 i{
    
    font-size: 32px;
    
}
.news-box p{
    
    margin-bottom: 10px;
}
.news-box:nth-child(3) p{
    
    margin: 10px 0;
}

.news-box h3{
    color: white;
    margin: 10px 0;
    font-size: 20px;
    
}
.date-box{
    width: 60px;
    height:80px;
    border:2px solid white;
    text-align: center;
    float: left;
    margin-right: 10px;
}


.date-box>span:nth-child(1){
    font-size: 30px;
    color: white;
}
.date-box>span:nth-child(2){
    color: white;
}

.read-more{
    text-decoration: none;
    float: left;
    color: rgb(122, 123,144);
    font-size: 13px;
    margin: 10px 0;
    
}
.read-more div{
    line-height: 1;
}
.circle{
    float: right;
    margin: 0 0 0 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 2px solid rgb(100, 117, 135);
    border-radius: 100%;
}
.circle>span{
    color: white;
    font-weight: 700;
}

.news-box{
    width: 250px;
    float: left;        
    
}





.news-box>p{
    color: white;
    width:100%;
    text-align: justify;
    font-size: 12px;
}

.content>.last-news-wrap{
           
        width:300px;
background-color: white;
float:right;
    position: relative;
    background-color: white;
    margin: -30px 0;
    padding-bottom: 30px;
}

.video-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 160px;
}
.play-btn{
   
    height: 50px;   

}

.video-title{
    width: 280;
    right: 0;
    position: absolute;
    color: white;
    top: 105;
}
.video-title h3{
    width: 200px;
}
.content>.last-news-wrap .news-box{
    width: 100%;
    padding: 0 20px;
    margin-top: 25px;
    
}

.content>.last-news-wrap p{
    font-size: 12px;
    color: rgb(100, 117, 135);
}

.content>.last-news-wrap .circle{
    
    border: 2px solid rgb(122, 123,144);
    
}

.content>.last-news-wrap .read-more{
    color: rgb(122, 123,144);

}

/*----------------Courses Search-------------------------------*/

.courses-search{
    width:100%;
    height: auto;
    text-align: center;
    background-color: rgb(243,244,246);
    margin: 50px 0;
   

    
}
.courses-search h2{
           color: rgb(24,57,110);
    
}
.courses-search span{
    color:rgb(186, 192, 206);
}
.search{
    margin-top: 20px;
}

.search>input,.search>select{
    width: 250px;
    height: 50px;
    margin-right:15px;
    color: rgb(137,151,164);
    padding-left: 10px;
    font-size:11px;
    border: 1px solid rgb(226,226,226);
    
}
.search-button{
    width: 100px;
    padding: 10px 0;
    margin-top: 20px;
}
.courses-search p{
    color: rgb(186, 192, 206);
    margin: 20px 0 0 0;
    
}

/*--------------------------Plan Ahead--------------------------*/

.plan{
    margin-top: 20px;
    width:100%;
    background-image: url(../img/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.plan-text{
    background-color: rgba(25,30,62,0.7);
    padding: 40px 0;

   
}
.plan-text h2{
    color: white;
}

.plan-text .content p{
width:600px;
    margin-top: 20px;
    color: white;
}
.plan-text .default-wrapper{
    position:relative;
}
.plan-text .default-wrapper .img-wrapper img{
    position: absolute;
    width:320px;
    height: 320px;
    top: -90;
    right: 0;
    border-radius: 50%;   
}
/*------------------------News-feed-----------------------------------------*/
.news-bar .news-box{
float: none;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(236,236,236);

}
.what-happening{
    
    margin: 40px 0;
}
.what-happening>.default-wrapper{
    
    margin-bottom: 20px;
}
.news-feed p{
    color:rgb(100, 117, 135);
}
.news-bar{
    width:300px;
    padding: 25px;
    float: left;
background-color: rgb(25,250,250);
    
}
.news-feed h3{
    color:rgb(23,56,110);
    font-weight: 100;
}
.news-feed h2{
    color:(23,56,110);
    font-size:20px;
}
.news-main-section{
padding: 20px;
    width: 800px;
    float: right;
    background-color: white;
}
.news-main-section .img-wrapper{
    float: left;
    width: 266.6px;
}
.recent-image-wrapper{
margin: 20px -20px

}
.latest-news-box{
    float: left;
    width: 370px;
    margin-right: 20px;
}
.latest-news-box .img-wrapper{
    width: 100%;
}
.latest-news-box:nth-child(3){
margin:0;
}
.latest-news-box .news-box{
    width:100%;
}
.latest-news-box .news-box .news-time{
    margin-top:20px;
}

.what-happening .news-time::after{
content: "";
    display: block;
    clear: both;
}
/* ----------------------------- news and announcement-----------------------*/
.news-announcement{
    background-image:url(../img/cover3.jpg);
    color: white;
}
.news-announcement h2{

    font-weight: 600;
}
.section-bakground{
    background-color: rgba(25,30,62,0.7);
    padding: 40px 0;

}
.announcement-box{
    width:225px;
    float: left;
    margin-right:40px;
}
.announcement-box .read-more{
    margin: 10px 0;
}
.message-box{
    width: 305px;
    padding: 50px 20px;
    margin: -40px 0;
    float: left;
    color: rgb(23,56,110);
    background-color: rgb(243, 244, 246);
}
.message-box .default-wrapper span:first-child{
    float: left;
    height: 50px;
    width: 50px;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(237,20,91);
    color: white;
    font-size: 32px;
    line-height: 1.3;
}
.message-box .default-wrapper span:nth-child(2){
    font-size: 21px;
        float: left;
    width: 200px;
    margin-left: 10px;
    line-height: 1.3;
}
.message-box p{
    margin: 10px 0;
    color: rgb(100, 117, 135)
    
}
.message-box .img-wrapper{
    margin-top: 10px;
}
.message-box .img-wrapper img{
    width: 100%;
}
.announcement-box .img-wrapper{
    margin: 20px 0;
}


.announcement-box h3{
    margin-bottom: 10px;
}
.message-box span:nth-child(2){
    color: rgb(23,56,110);
}
.message-box .img-wrapper{
   text-align: center;
}
.message-box span:nth-child(4){
    
    font-weight: 600;
    display: block;
}
.message-box span:nth-child(5){
    font-size:10px;
}


/*------------------------------------Life In Upside----------------------*/


.life-in-upside{

    padding: 30px 0;
    text-align: center;
    color: rgb(23,56,110);
    background-color: white;
}
.life-in-upside .img-wrapper{
    width: 275px;
    float: left;
}

.seperator div{
    width: 200px;
    height: 2px;
    border-bottom: 1px solid rgb(236, 236, 236);
    margin: 0 auto;
}
.seperator{
    margin: 10px 0;
    position: relative;
    text-align: center;
}
.seperator .material-icons{
    position: absolute;
    top: -10;
    color:rgb(236, 236, 236);
}

.life-in-upside .default-wrapper{
    margin-top: 20px;
}
.life-in-upside .content span:nth-child(3){
    color:rgb(186, 192, 206);
}

/*------------------Customer-Review-------------------*/

.customer-opinion{
    padding: 30px 0;
    background-color: white;
    
}
.customer-opinion h2{
    text-align: center;
    color: rgb(23,56,110);
}
.customer-opinion hr{
    margin: 5px 0;
}
.customer-opinion .section-heading{
    text-align: center;
}
.customer-opinion .default-wrapper{
    margin-top: 30px;
}
.review-box{
    width: 320px;
    margin-right: 70px;
    float: left;
    color: rgb(100, 117, 135);
}
.review-box:nth-child(3){
    margin-right: 0;
}
.review{
    padding:25px;
    background-color: rgb(236, 236, 236);
    position: relative;
}
.review span{
    position: absolute;

    bottom: -13;
    color: rgb(236, 236, 236);
}

.review-box .img-wrapper img{
    border-radius: 100%;
    height: 40px;
     width:40px;
    vertical-align: middle;
}
.customer-info-wrap{
    margin-top: 15px;
}
.customer-info{
    margin-left: 10px;
}

.customer-info span:nth-child(2){
    display: block;
    font-size:12px;
    color: rgb(100,117,133);
}
.customer-info span:nth-child(1){
    display: block;
    font-weight: 700;
    color:rgb(23,56,110);
}

footer{
    padding:0  50px;
    margin-top:20px;
    color: white;
    background-color: rgb(39,46,86);
}
.footer-box{
    width: 383px;
    height: 350px;
    padding: 30px;
    float: left;
}
.footer-box:nth-child(1)
{
    background-color: rgb(37,42,82);
}
.company-logo{
    margin-bottom: 20px;
}
.logo-footer{
    float: left;
    width: 53px;
}

.company-name{
    float:right;
    color: white;
    padding-left: 10px;
    border-left: 1px solid white;
    vertical-align: top;

}
.company-name span:nth-child(1)
{
    display: block;
    font-size: 27px;
    font-weight: 800;
    
}
.company-name span:nth-child(2)
{
    font-size: 12px;

}
.offer-box{
    padding: 25px;
    text-align: center;
}
.offer-box span{
    display: block;
    background-color: rgb(47,68,121);
}
.offer-box span:nth-child(1),.offer-box span:nth-child(4){
    font-size: 22px;
    font-weight: 600;
}
.offer-box span:nth-child(2),.offer-box span:nth-child(3){
    font-size: 12px;
}

.footer-box:nth-child(2){
    
    background-color: rgb(34,39,77);
}


.quick-links{
    width:120px;
    margin-left: 50px;
}
.footer-box:nth-child(2) ul{
padding-left: 10px
}
.footer-box:nth-child(2) ul li{
    margin: 10px 0;
}
.footer-box:nth-child(3){
    background-color: rgb(31,35,70);
    
}
.footer-box:nth-child(3) h3{
    margin-bottom: 10px;
    
}
.search-box input{
    height: 30px;
    width: 260px
}
.search-box{
    margin-top: 20px;
    height: 30px;
}
.search-box .all-button{
    margin: 0;
    padding: 8px;
    font-size: 10px;
    background-color: rgb(24,55,110);
}
.social-media{
    margin-top: 20px; 
}
.social-media .img-wrapper{
    width: 45px;
    float: left;
    margin: 10px 10px 0 0;
}
.social-media .img-wrapper:hover{
    background-color: white;
    
}
.copyright-info{
    padding: 20px 0;
    margin:0 -50px;
    font-size: 10px;
    text-align: center;
    background-color: rgb(25, 30, 62);
    position:relative;
}
.copyright-info span i{
    font-size: 10px;
}
.top-scroll-button{
    width: 40px;
    padding: 10px 0;
    border: 1px solid white;
    position: absolute;
    top: -20;
    left: 615;
}
.top-scroll-button i{
font-size: 14px;
    font-weight: 600;
}

.top-scroll-button:hover{
    background-color: white;
    color:rgb(23,56,110);
}
