body{
    /*for making body in center*/
    
    /*width is 100% for any page*/
   margin: 0px;
    /*Font family is sans-serif i.e. no edges on font corner */
    font-family: sans-serif;
}
.whole{
    width: 100%;
}
.background{
    width:100%;
}
/*header*/

.logo_img{
    width: 150px;
    height: 40px;
    /*for setting margin*/
    margin: 15px;
    
}

.header_section{
    /*width of header section is 100%*/
    width:100%;
    
    background-color: rgb(25,30,62);
    /*constant height of header section*/
    height: 70px;
}
.content{
    width: 1100px;
    margin: 0 auto;
}




.resource{
    /*changing the position of whole resource div which contain icon*/
    float: right;
    /* setting margin for making it vertically center*/
    margin:15px;
   }
.box{
    /*all the small divs containing all text and icon which are block elements. To make them inline we use float left. we use float left because we want to make all divs from left to right so this is the right way. we can use float right because containing div is small but if we use float right the div will become in reverse order*/
    float: left; 
    /*for adding some space arround content not div*/
    padding-left: 10px;
    
    padding-right: 10px;
    
    font-size: 10px;
    text-align: center;
    height: 40px;
    border-left: 2px solid rgb(47,52,82);
    
}
/* for making right border of 4th div*/
.box:nth-child(4){
    border-right: 2px solid rgb(47,52,82);
    
}
/* > this sign is a immedieate child selector which select its immediate children*/
.box>a{
    text-decoration: none;
    color: white;
    text-align: center;

}

/* HEADER SECTION */

.about{
    height:60px;
    width: 100%;
    
    background-color: white;

  
}

.about a{
    text-decoration: none;
    font-size: 80%;
}
.content>ul {
   height: 40px;
    list-style-type: none;
    /*padding from top and bottom in ul*/
    padding: 15px 0px 0px 15px;
     
    margin: 0;
}
.content li{
    width: 10%;
   float: left;
    padding: 0px;
    margin: 0px;
    height: 40px;
}
.about ul:after{
    content: "";
    display: block;
    clear: both;
}
.about_p{
    
    margin: 6px 10px 6px 0px;
    font-size: 0.7em ;
}
.about li:hover{

    border-bottom: 5px solid red;
    
}
.bar{
    width: 100%;
    height: 5px;
    background-color: aqua;
}


/*BODY

SECTION
*/




.details{
    
    width: 100%;
    height: auto;
    background-color: rgb(243,244,246);
  overflow: hidden;
   
}


.text_main{
        
        width:500px;
        float: left;

    
}
.text_main>h1{
        width:70%;
      margin: 0 0 25px 0;
    font-weight: 500;
    font-size: 26px;
    
}
.text_main>hr{
    width: 80px;
    margin: 0;
    border-top: 0.2px solid rgb(243,244,246);
}
.text_main>p{
        width:100%;
    margin:25px 0 0 0;
    font-size: 11px;
    color: rgb(100, 117, 135);
     
}




.event{
   
    width: auto;
    
    
    float: right;
    /*Height of div is 100px so we have 150 px more in bottom direction so i gave margin 75 px from top and bottom*/
    
    
    
    
    
}

.box_body{
    
    width:100px;
    height: 120px;
    float: left;
    background-color: white;
   margin-left: 10px;
    
    border-radius: 5px;
    
}


.box_body>p{
    
    text-align: center;
    margin:9px 5px 20px 5px;
    color: rgb(23,56,110);
}

.same{
    
    font-size: 12px;
    text-align: center;
    text-decoration-color: rgb(23,56,110);
}

.number{
    
    text-align: center;
    font-size: 30px;
    padding: 1px;
}
.line{
    width:100%;
    height: 1px;
    background-color: rgb(221,228,244);
    position: relative;
    top: 60px;
    
}
.dot{
    display: block;
    height: 7px;

    
}

/*low body*/


.Last_news{
    background-color: rgb(25,30,62);
    width: 100%;
    height: 350px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}
.heading{
    width: 400px;
    color: white;
   margin: 0px;
    text-align:justify;
    display: flex

}

.lowbody_box{
    display: inline-flex;
    width:100%;
    height: 250px;
    
}
.lowbody_box1{
    width: 300px;
    height: 250px;
    
    background-color:rgb(25,30,62);
    margin-top: 20px;
    
    margin-left: 10px;
    padding: 0px 10px;    
    font-family:sans-serif;
    
    
}


.box1{
    
margin-right: 10px; 
    text-decoration-color: white;
}
.box2{
margin-left: 10px;
    text-decoration-color: white;
}
.lowbody_box1>h1{
    font-size: 25px;
    margin: 0;
    color: white;
    
}
.lowbody_box1>p{
    color: white;
    text-align: justify;
}
.box3{
    position: relative;
    top: -80px;
    float: right;
    width:250px;
    height: 350px;
    margin-left: 90px;
background-color: white;

}
.box3>p{
    margin: 30px 10px;
    text-align: justify;
    font-size: 14px;
}

footer{
    position: absolute;
    width:100%;
    align-content: center;
    text-align: center;
    background-color: aqua;
    padding-bottom:30px;
    
}
.div{
    width:200px;
    height:200px;
}
.div1{
    background-color: brown;
    
}
.div2{
    background-color: blue;
    position: absolute;
    top:0;
    left: 0;
    
}
.div3{
    background-color: yellow;
    
    
}
.main{
    margin-top: 100px;
    padding:100px;
    background-color: lightgreen;
    position: relative
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
}